body
{
  font-size: 14pt;
}

.r90 > div > div
{
  display: inline-block;
  vertical-align: top;
  transform: rotate(90deg);
}

td
{
  text-align: center;
}

.emp
{
  background-color: #808080;
}

.tm
{
  white-space: nowrap;
}

button
{
  width: 100%;
}

.teach, .comm
{
  font-weight: bold;
}
